.projects {
  z-index: 100;
  position: relative;
  height: 80rem;
  margin-top: -30rem;
  background-image: linear-gradient(
      to bottom,
      rgba($red, 0.7),
      rgba($red-orange, 0.7)
    ),
    url(/../tech-2.jpg);
  background-size: cover;
  clip-path: polygon(0 35%, 50% 10%, 100% 35%, 100% 100%, 0% 100%);

  @include respond(tab-land){
    clip-path: polygon(0 25%, 50% 10%, 100% 25%, 100% 100%, 0% 100%);
    height: 80vh;
    overflow-x: scroll;
    padding: 3rem;
  }  

  @include respond(tab-port){
    clip-path: polygon(0 20%, 50% 10%, 100% 20%, 100% 100%, 0% 100%);
  }

  @include respond(phone){
    clip-path: polygon(0 15%, 50% 10%, 100% 15%, 100% 100%, 0% 100%);
  }

  &__container {
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    @include respond(tab-land){
      height: 300rem;
      width: 30rem;
      z-index: 100;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;
    }

    @include respond(tab-port){
      width: 30rem;
      left: 35%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;
    }

    @include respond(phone){
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  &__header {
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    transform: translateY(250%);
    margin: 0 auto;
    color: white;
    letter-spacing: 0.5rem;
    z-index: 10;
    @include respond(tab-land){
      left: 40%;
    }

    @include respond(tab-port){
      left: 38%;
    }

    @include respond(phone){
      left: 32%;
    }
  }
}

.project {
  -webkit-perspective: 150rem;
  -moz-perspective: 150rem;
  perspective: 150rem;
  margin-top: 25%;
  height: 40rem;
  width: 30rem;
  z-index: 20;

  &__side {
    height: 40rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($black, 0.15);

    &-front {
      background-color: $white;
    }

    &-back {
      transform: rotateY(180deg);
      position: relative;
      background: $white;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  &__pic-1 {
    background-size: 100% 100%;
    background-position: center;
    height: 20rem;
    background-blend-mode: screen;
    background-image: url(/../project-1.png);
  }

  &__pic-2 {
    background-size: 100% 100%;
    background-position: center;
    height: 20rem;
    background-blend-mode: screen;
    background-image: url(/../project-2.png);
  }

  &__pic-3 {
    background-size: 100% 100%;
    background-position: center;
    height: 20rem;
    background-blend-mode: screen;
    background-image: url(/../project-3.png);
  }

  &__pic-4 {
    background-size: 100% 100%;
    background-position: center;
    height: 20rem;
    background-blend-mode: screen;
    background-image: url(/../project-4.png);
  }

  &__desc {
    font-size: 1.5rem;
    margin: 1rem 1rem;

    @include respond(tab-land) {
      font-size: 1.4rem;
    }
  }

  &__link {
    text-decoration: none;
    color: $black;
    text-transform: uppercase;
    font-size: 2rem;
    position: absolute;
    top: 30%;
    left: 30%;
    border: solid black 2px;
    border-radius: 50px;
    padding: 1rem 3rem;
    transition: all 0.3s;

    &:hover {
      color: white;
      background-color: black;
    }
  }

  &__github {
    text-decoration: none;
    color: $black;
    text-transform: uppercase;
    font-size: 1.5rem;
    position: absolute;
    top: 60%;
    left: 30%;
    border: solid black 2px;
    border-radius: 50px;
    padding: 1.3rem 2.75rem;
    transition: all 0.3s;

    &:hover {
      color: white;
      background-color: black;
    }
  }

  &:hover &__side-front {
    transform: rotateY(-180deg);
  }

  &:hover &__side-back {
    transform: rotateY(0);
  }

  .langs {
    position: absolute;
    left: 0;
    top: 35rem;
    &-img {
      width: 5rem;
      height: 5rem;
    }
  }
}
