.skills{
    z-index: -1;
    background-color: rgba($red, 0.3);
    padding: 5rem;
    &__header {
        text-align: center;
        font-size: 4rem;
        color: $white;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
    }

    &-grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;      
    }

    &-img {
        margin: 1rem;
        padding: 1rem;
        border: solid $red-orange 5px;
        width: 11rem;
        height: 10rem;
        transition: all .3s;

        &:hover{
            filter: blur(4px) brightness(70%);
        }
    }
}